<!DOCTYPE html>
<html>
  <head>
    <title>#title#</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div id="app">
      <h1>#title#</h1>
      <div class="content">#content#</div>
      <div> 
        <a class="button" href="/tasks">START </a>
        <div class="links-wrapper"> 
            <a href="/contact"> Contact</a>
            <a href="/help"> Help</a>
        </div>
      </div>
    </div>
  </body>
</html>